* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
}

h2 {
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  text-decoration-style: none;
}

img {
  width: 30vw;
}

header > #check,
header > .hamburger {
  display: none;
}

header > nav > ul {
  display: flex;
  column-gap: 10px;
}

section.slides {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 598px) {
  .header-background > .hamburger {
    display: flex;
    color: #218d9c;
    z-index: 2;
  }

  .header-background > nav {
    background: #2637c9;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    transform: translate(-100%, -100%);
    transition: transform cubic-bezier(0, 0.27, 0.92, 0.65) 500ms;
  }

  .header-background > nav > ul {
    margin-top: 20px;
    height: 200px;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }

  .header-background > #check:checked ~ nav {
    transform: translate(0%, 0%);
  }
}
